extends layout

block content
  h1= title
  p Welcome to the potato pug
  div(class="container-fluid")
        div(class="row")
            -
                let potato = results
                
  div(class="container-fluid") 
    div(class="row  m-1") 
      each item in potato 
       - let destination = `dispatch(\"/potato/update?id=${item._id}\")` 
       - let detailView = `dispatch(\"/pototo/detail?id=${item._id}\")`
       - let deleteView = `dispatch(\"/pototo/delete?id=${item._id}\")`
        div(class="row-sm-2", class="m-1") potato #{item.type}(#{item.expdate}) is #{item.cost}
            button.btn( class="btn-primary ml-1", onclick= destination) Update
            button.btn(class="btn-primary ml-2", onclick= detailView) Detail
            button.btn(class="btn-danger ml-2", onclick= deleteView) Delete
            
        script.                
            function buy(itemNo)
            {
                  alert(`you purchased Item ${itemNo+1}`)
            }
        script. 
          function dispatch(path)
          { 
              window.location.href=path 
          }